<div class="row mt-5">
    <div class="col-3 tagsWord" style="color: #9B6A6C">Tags :</div>
    <div class="col-9">
        <div class="row">
            <% @tags.each do |tag| %>
                <div class="col-4 wordsByAlphabet mb-5" >
                    <%= link_to tag.name, tag_path(tag) %>
                </div>
            <% end %>
        </div>
    </div>
    </div>
</div>