/* body hash syntax means styling to the body portion of the HTML file */
/* IBM Plex Sans font weights: light300/regular400/medium500/bold700 */
/* PlayFair Display font weights: regular400/medium500/bold700/extrabold800 */

body {
    background-color: #FFFFFF;
    background-size: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
    
}

/* VIEWS/LAYOUT/APPLICATION.HTML */
.navbarStyling {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

/* VIEW/CATEGORIES/INDEX */
.oneAlphabet {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 200px;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    grid-auto-flow: column;
    column-gap: 100px;
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: space-between; */
    /* justify-items: center; */
}

/* unvisited link */
a:link {
    color: #9B6A6C;
  }

/* visited link */
a:visited {
    color: #9B6A6C;
  }

/* mouse over link */
a:hover {
    color: #E2B4BD;
  }


/* VIEW/POST/_FORM */
.addNewWord {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-left: 30px;
}

.perField {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 50px;
    display: flex;
    align-content: start;
    
}

.createPost {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
}


/* classes: Playfair Display Font */
.playfairRegular {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.playfairMedium {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.playfairBold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.playfairExtraBold {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}


/* Navbar */
.search-bar {
    border: none !important;
    border-bottom: solid 1px white !important;
    border-radius: none !important;
    background: #fff;
    box-sizing: border-box !important;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    color: white!;
    font-weight: 400;
    -webkit-appearance: none;
}

.search-bar:focus {
    border-bottom: solid 1px #9B6A6C !important;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
    color: white !important;
}