<h1>Categories#index</h1>

<%# create index of all letters in alphabets %>
<ul class="oneAlphabet">
    <% ("a".."z").each do |letter| %>
        <%= link_to letter.upcase, category_path(letter) %>
    <% end %>
</ul>